<nav class="navbar border-bottom border-body" style="position: fixed; top: 0; background: wheat; height: 80px; display: flex; justify-content: space-between; align-items: center; width: 100%; z-index: 1000;">
  <a href="#" class="align-self-center">
    <img src="/images/screenshot--272-removebgpreview-1@2x.png" alt="Bootstrap" style="width: 100px;">
  </a>
  <a href="/admin/logout" class="btn btn-info">Logout</a>
</nav>

