<footer>
    <div class="container  text-dark pt-4 pb-4 rounded latestOrders">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="left-text">STAY UPTO DATE ABOUT <br> OUR LATEST ORDERS</h2>
            </div>
            <div class="col-lg-4 mt-3 mt-lg-0">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-dark text-light footerText">
        <div class="row">
            <div class="col-lg-6">
                <div class="company-info">
                    <h3>TICKER</h3>
                    <p>Welcome to Timeless Treasures: Your Ultimate Destination for Luxury Watches, Exquisite Perfumes, and Stylish Wallets</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-links">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Company</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Our Team</li>
                                <li>Careers</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Help</h4>
                            <ul>
                                <li>FAQ</li>
                                <li>Shipping</li>
                                <li>Returns</li>
                                <li>Support</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Resources</h4>
                            <ul>
                                <li>Blog</li>
                                <li>Whitepapers</li>
                                <li>Case Studies</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>FAQ</h4>
                            <ul>
                                <li>Privacy Policy</li>
                                <li>Terms of Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <p>Ticker.co © 2000-2023, All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
