.banner {
    height: 50vh; /* 50% of viewport height */
    /* background-image: url('/images/FT_Smart_100723.webp'); */
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-gutter-x: 0rem !important;

}
.banner-1{
    width: 100vw;
    height: 60vh;
}
.products {
    padding: 20px;
}

.product-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-title h2 {
    margin: 0;
}

.product-cards {
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 2%;
}
/* .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} */
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-description {
    margin: 10px 0;
}

.product-price {
    font-weight: bold;
}
.blue-background{
        background-color: rgb(255, 255, 255);
}
.categories{
    text-decoration: underline;
    
}
/* .product-text {
    display: flex; 
    flex-direction: column;
} */

.product-description {
    margin: 0; 
    
}

.product-price {
    margin-top: auto;
}
.cardWriting p{
  font-size: small;
}


