<%- include('../layouts/header')%>
<header>
    <nav class="navbar bg-body-tertiary p-0">
      <div class="container-fluid d-flex justify-content-between align-items-middle" style="background-color: #f8eded;">
          <div class="align-self-start"> <!-- Align the image to the left -->
              <a class="navbar-brand">
                  <img src="/images/screenshot--272-removebgpreview-1@2x.png" style="max-height: 70px;" alt="">
              </a>
          </div>
          <div class=" me-5"> 
            <div class="d-flex gap-3 align-items-center">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div>
                  <a class="text-decoration-none text-dark" href="">
                  <i class="fa-solid fa-heart"></i><span> Wishlist</span>
                  </a>
                </div>
                <div>
                  <a class="text-decoration-none text-dark" href="">
                  <i class="fa-solid fa-cart-shopping"></i><span> Cart</span>
                  </a>
                </div>
                <div>
                  <a class="text-decoration-none text-dark" href="/signup">
                  <i class="fa-solid fa-user"></i><span>
                        signup
                    </span>
                  </a>
                </div>
              </div>
          </div>
      </div>
    </nav>
    </header>

<div class="card">
    <h2>Password Reset</h2>

    <form action = "/createNewPassword" method="post">
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="New Password" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required />
        </div>

        <button type="submit" class="btn btn-primary submit-btn">Reset Password</button>
    </form>
</div>
<%- include('../layouts/footer') %>