<%-include('../layouts/header')%>

<section class="vh-100 d-flex align-items-center"  style="background: linear-gradient(to right, rgb(255, 184, 184), rgb(229, 255, 251));" >
<div class="container d-flex justify-content-center icons ">
  <div class="card shadow" style="width: 30rem;">
    
    <!-- Form 1: Email Verification -->
    <form action="/forgotpassword" method="post">
      <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
      <% } else if (messages.error) { %>
        <div class="alert alert-danger">
          <%= messages.error %>
        </div>
      <% } %>
    
      <div class="card-body d-flex flex-column">
        <h2 class="card-title icons text-center">Forgot Password</h2>
        <p class="card-subtitle mb-2 text-body-secondary icons text-center" style="font-size: small;">Enter the Email Address associated with your Ticker account</p>
        
        <!-- Form 1: Email Address -->
        <div class="form-check-label mt-3">
          <div class="verified">
            <label for="email">
              Email Address
            </label>
            <input
              name="Email"
              type="email"
              class="form-control mt-2 "
              id="email"
              placeholder="Enter your Email"
              required
              
          </div>
          <div class="mt-3">
            <button
              id="forgotpassword"
              type="submit"
              class="btn text-center text-white sign-in1 btn-lg"
              style="background-color: #fa8232; width: -webkit-fill-available; border: none;"
            >
              Verify
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</section>



<%- include('../layouts/footer') %>


