<%- include('../layouts/header')%>
<section class="vh-100"  style="background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255));">
  <!-- <video id="background-video" autoplay loop muted>
    <source src="/images/time3.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video> -->

  <div class="container pt-5">
    <div class="row justify-content-center ">
      <div class="col-lg-6">
        <div class="card signup-card mt-4 mb-3" style="background-image: url('/images/2838f609-7825-4b21-b96f-1e417782f414.jpeg');">
          <div class="card-body text-white mt-3">
            <div class="icons text-center">
              <h1>SIGN UP</h1>
            </div>
            <form id="signupForm" class="icons" action="/signup" method="post">
              <% if (messages.error) { %>
              <div class="alert alert-danger"><%= messages.error %></div>
              <% } %>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control mt-2"
                  id="name"
                  name="Username"
                  placeholder="Enter your name"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  class="form-control mt-2"
                  id="email"
                  name="Email"
                  placeholder="Enter your email address"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <label for="password">Password</label>
                <div class="input-group mt-2">
                  <input
                    type="password"
                    class="form-control"
                    name="Password"
                    id="password"
                    placeholder="Enter your password"
                    minlength="8"
                    required
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-none"
                      type="button"
                      id="showPasswordOne"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="text-danger" id="password-whitespace-msg">
              </div>
              <p id="strength">Strength:</p>
              <div class="from-group mt-3">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group mt-2">
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm your password"
                    required
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-none"
                      type="button"
                      id="showPasswordTwo"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <button
                  type="submit"
                  class="btn text-center text-white sign-in1 btn-lg"
                  style="
                    background-color: #fa8232;
                    width: -webkit-fill-available;
                    border: none;
                  "
                >
                  Sign up
                </button>
              </div>
            </form>
            <div class="mt-3">
              <p class="text-center">or</p>
            </div>
            <div class="mt-3 text-center">
              <p class="text-center">
                Already have an account? <a href="/login">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../layouts/footer') %>
